@import url(variable.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(360deg,rgba(30, 100, 133, 1) -176%, rgba(0, 0, 0, 1) 46%, rgba(13, 100, 117, 1) 219%);
    background-size: cover, auto;
    background-repeat: no-repeat, repeat;
    min-height: 100vh;
    width: 100%;
}

header{
    position: fixed;
    height: 15vh;
    width: 100%;
    justify-items: center;
    align-content: center;
    padding: 6px;
}
nav {
    background: hsl(0deg 0% 100% / 8%);
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    width: 35%;
    border-radius: 20px;
}

.nav__ul{
    width: 82%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.buttonLight{
    border: none;
    background: transparent;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.buttonLight:hover{
    transform: rotate(20deg);
}
.nav__ul li {
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    background: rgba(13, 126, 155, 0.212);
    border-radius: 10px;
    padding: 8px;
  }
  
  .nav__ul li a {
    text-decoration: none;
    display: flex;
    gap: 5%;
    align-items: center;
    transition: transform 0.3s ease;
  }
  
  .nav__ul li label {
    cursor: pointer;
    opacity: 0;
    font-family: 'SpaceGrotesk-Regular';
    transition: opacity 0.3s ease;
    font-size: 1em;
    color: white;
    padding: 6px;
    border-radius: 6px;
  }


/* ----------MAIN-SECTION HOME------------------- */

main{
    
}

.section__home{
  padding: 9em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.article__title{
    background: green;
    width: 40vw;
    margin-right: 6.5%;
}
.buttonAboutMore{
    width: 20vw;
    background: red;
    margin-right: 10%;
}