body {
    font-family: Roboto, sans-serif;
  }
  
  .carousel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transform: rotateX(-20deg) translateY(-70px);
    transform-style: preserve-3d;
    perspective: 800px;
    user-select: none;
    cursor: grab;
  }
  
  .carousel-image {
    background: red;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -100px;
    width: 200px;
    height: 200px;
    transform: translate3d(0, 0, -10px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transform-origin: 50% 50%;
  }
  
  @media (max-width: 600px) {
    .carousel {
      transform: rotateX(-10deg) scale(.6) translateY(-60px);
    }
  }